html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-bar {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('img/movie-background.png');
    background-color: darkgrey;
    background-size: cover;
    background-position: center;
    padding: 30px;
    color: white;
}
.selected-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a {
    text-decoration: none;
    color: white;
    
}
.wide-screens {
    margin: .25rem 2rem;
    border-bottom: solid 1px black;
}
.selected-page {
    font-size: 1.8rem;
    color: dimgrey;
    cursor: default;
    margin-bottom: 1.3rem
}
.next-page {
    margin-bottom: 1.3rem;
}
.next-page:hover {
    color: brown;
}
.no-grow {
    color: gray;
}

h1 {
    margin: 0;
}

img {
    margin: 30px 0 0;
}
.movie-container {
    display: flex;
    flex-direction: column;
}

.line-1, 
.line-2, 
.line-3 {
    margin: 0 3rem;
}

form {
    display: flex;
    justify-content: center;
}
form input {
    width: 60%;
    height: 2rem
}
.adding-movies {
    color: gray;
}
.adding-movies:hover {
    color: black;
}

@media (min-width: 650px) {
    body {
        font-size: 2.1vw;
    }
    .selected-titles {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 1.3rem 1.3rem;
    }
    img.movie-poster {
        margin: 0;
        width: 20%;
        max-width: 200px;
    }

    .wide-screens {
        display: flex;
        margin: 1.3em .75em .25em 2em;
        align-items: center;
        max-width: 1000px;
        padding-bottom: 1.3em;
        border-bottom: solid 1px black;
        
    }
    .wide-screens:last-child {
        border-bottom: none;
    }
    .movie-container {
        text-align: left;
        margin: 0;
    }
    p, h3, button {
        margin: 0;
    }
    .line-1,
    .line-2,
    .line-3 {
        display: flex;
        flex-direction: row;
        margin-bottom: .75em;
        
    }
    .line-2 p,
    .line-3 h3 {
        margin-right: 1.2em;
    }
    h3, .line-2 {
        white-space:nowrap;
    }
    #movie-placeholder {
        margin-top: 2rem;
    }
}
